fastapi
psycopg2
fastapi-mail
cloudinary
sqlalchemy
pydantic[dotenv]
uvicorn
alembic
pillow
pyngrok
requests
aiohttp
fastapi-mail
python-jose
passlib
bcrypt
authlib
google-api-python-client
itsdangerous